<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
    <!-- Object passed from the second parameter of res.render() in "routes"-->
    <h1>{{user.firstname}}</h3>
 
</body>
 
</html>