<!-- 3.2.1
The FULL view of the signup page
    Unlike Codegig, where we made layouts that handle the headers & code that we duplicate to every view
-->

<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <!-- Our signup form that will have user input
        I don't believe 'id' or 'name' will be a big deal
        'method' and 'action' are VERY important
            We will use this form to POST data to the URL of /signup, where router.post() will receive that information
    -->
    <!-- Will we need to change action="/signup" to "/site/auth/signup" ? -->
    <form id="signup" name="signup" method="post" action="/signup">

        <!-- If <input> is not nested inside of <label>:
                <label> 'for' = <input> 'name'
                <input> should have a 'type'
            If it is nested:
                Only <input> needs 'name' and 'type' properties
        -->
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>

</body>

</html>