<!-- 3.3.1 
  The FULL sign-in page
  You are able to successfully use this page once there is something in the database
-->

<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
  <!-- Same as before:
    We will use this form to POST data to the URL of /signinPOST, where router.post() will receive that information
      'action' path attribute should equal router.post() path attribute in "routes"
      Remember: this information should already be inside the database
  -->
    <!-- 4.7 These <input> name attributes are linked to the LocalStrategy values of the "Verify Callback Function" inside passport.js' -->
    <form id="signin" name="signin" method="post" action="/signinPOST">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
 
</body>
 
</html>